node_modules
.idea
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# package directories
jspm_packages

# Serverless directories
.serverless
